.social_share {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.button_vk {
  background: url("s-icons_social-media-icons_basic_round_set_gradient-color_48x48_0031_vkontakte.png") no-repeat;
}
.button_tw {
  background: url("s-icons_social-media-icons_basic_round_set_gradient-color_48x48_0002_twitter.png") no-repeat;
}
.button_ok {
  background: url("s-icons_social-media-icons_basic_round_set_gradient-color_48x48_0030_odnoklassniki.png") no-repeat;
}
.button_fb {
  background: url("s-icons_social-media-icons_basic_round_set_gradient-color_48x48_0000_facebook.png") no-repeat;
}
.button_gg {
  background: url("s-icons_social-media-icons_basic_round_set_gradient-color_48x48_0003_google+.png") no-repeat;
}